{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

	{% block body %}

		{{ dump(moi) }}
		<p>pseudo : {{moi.username}}</p>
		<p>email : {{moi.email}}</p>
	
	{# on peut directement accéder à l'utilisateur connecté dans n'importe quelle vue twig gr^^ave à app.user #}
	{{ dump(app.user) }}
	<p>Bonjour {{ app.user.username }}, {{ app.user.email }}</p>
	{# si je veux afficher les articles de l'utilisateur #}
	{% for article in app.user.articles %}
		<article>
			{{ article.title }}<br>
				publié le {{ article.datepubli|date('d/m/Y') }}
		</article>
	{% endfor %}
{% endblock %}