<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('addArticle') }}">Ajouter un article</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('articles') }}">Liste des articles</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('categories') }}">Liste des catégories</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('messages') }}">Liste des messages</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('heure') }}">Lien vers la page quelle heure est-il ?</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('bonjourNom', {nom: 'toto'}) }}">Lien vers la page bonjour Pseudo</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('pseudoAge', {age: 21, nom: 'tata'}) }}">Lien vers la page exercice 3</a>
		      </li>
		      {# créer un lien vers la page admin si on a le rôle admin #}
		      {% if is_granted('ROLE_ADMIN') %}

		      <li>
		      	<a class="nav-link" href="{{ path('admin') }}">Admin</a>
		      </li>
		  {% endif %}
		  {# liens login si je ne suis pas connecté, lien logout si je suis connecté #}
		  {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		  	{# je ne suis pas connecté #}
		  	<li>
		      <a class="nav-link" href="{{ path('app_login') }}">Login</a>
		    </li>
		    {% else %}
		    	{# je suis connecté #}
		    <li>
		      <a class="nav-link" href="{{ path('logout') }}">logout</a>
		    </li>
		     {% endif %}
		  </ul>
		</div>
	</nav>

        {% block body %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>