<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<a href="{{ path('bonjour') }}">Bonjour</a>
		<a href="{{ path('bonjourNom', {nom: 'toto'}) }}">Bonjour nom</a>
		<a href="{{ path('merci') }}">Merci</a>
		<a href="{{ path('heure') }}">date</a>
		<a href="{{ path('pseudoAge', {age: '26', nom: 'toto'}) }}">pseudoAge</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
