{% extends 'base.html.twig' %}

{% block title %}Nous sommes le {{ date }}{% endblock %}

{% block body %}
	<h1>Quelle heure est-il?</h1>

	{# affichage de la vue qui contient le code bonjour 
	si mon template a besoin d'une variable, je la passe en paramètre d'include #}
	{{include('inc/bonjour.html.twig', {pseudo : 'Soraya'}) }}
	<p>Bonjour, il est {{ heure }} et il est {{ date }}</p>
	path() permet de générer dynamiquement le bon lien
	<a href="{{ path('bonjour') }}">bonjour</a>
	on peut passer des paramètres à notre route
	<a href="{{ path('bonjourNom', {nom: 'titi'}) }}">bonjour pseudo</a>
{% endblock %}