<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	


	<h1>Bonjour pseudo</h1>
	<p>bonjour {{pseudo}}, tu as {{age}} an{% if age > 1 %}s{% endif %}</p>
	<a href="{{ path('bonjour') }}">Bonjour</a>
	<a href="{{ path('bonjourNom', {nom: 'toto'}) }}">Bonjour nom</a>
	<a href="{{ path('merci') }}">Merci</a>
	<a href="{{ path('heure') }}">date</a>
	<a href="{{ path('pseudoAge', {age: '26', nom: 'toto'}) }}">pseudoAge</a>

</body>
</html>