{% extends 'base.html.twig' %}


{% block body %}	


	{# affichage des éventuels messages flash #}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	
		<article>			
			<div class="row">
				<div class="col-md-6">
					<h1>{{article.title}}</h1>
					<p>{{article.content}}</p>
					<p>publié le {{article.datepubli|date('d/m/Y') }}</p>
					<p>Auteur : {{article.user.username}}</p>
					<a href="{{ path('categorie', {id: article.categorie.id}) }}"><p>Catégorie : {{article.categorie.libelle}}</p>
					{{ article.title }}</a>
				</div>
				<div class="col-md-6">
					{% if article.image %}
					<img class="img-fluid" src="{{asset('uploads/article/image/' ~ article.image) }}">
				{% endif %}
				</div>	
			</div>

			<div class="row">
				<div class="col-md-6">
					<h3>Laissez un commentaire</h3>	

						{{ form_start(commentForm) }}
						
						{{ form_widget(commentForm) }}
						{{ form_end(commentForm) }}

						{# affichage des éventuels messages flash #}
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}

						{# affichage des commentaires #}
						{% for comment in article.comments %}
							<p>{{comment.content}}, publié par {{comment.user.username}} le {{comment.datepubli|date('d/m/Y à H\hi')}}
								{#je n'affiche l'icône de suppression que si je suis l'auteur du commentaire ou si je suis admin #}
							{% if app.user is same as(comment.user) or is_granted('ROLE_ADMIN') %} {# is same as équivaut à === #}
								|<a href="{{ path('deleteComment', {id:comment.id}) }}"><i class="fas fa-trash"></i></a>
							{% endif %}
							</p>
						{% endfor %}
				</div>
			</div>
		</article>
{% endblock %}