{% extends 'base.html.twig' %}


{% block body %}	


	{# affichage des éventuels messages flash #}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	
		<article>
			<h1>{{article.title}}</h1>
			<p>{{article.content}}</p>
			<p>publié le {{article.datepubli|date('d/m/Y') }}</p>
			<p>Auteur : {{article.user.username}}</p>
		</article>
{% endblock %}