{% extends 'base.html.twig' %}



{% block title %}Liste des articles{% endblock %}

{% block body %}
	{{ dump(articles) }}
	{# affichage des éventuels messages flash #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
		<div class="alert alert-{{ label }}">{{ message }}</div>
		{% endfor %}
	{% endfor %}


	{% for article in articles %}
		<article>
			<h3>{{article.title}}</h3>
			publié par {{ article.user.username }} le {{article.datepubli|date('d/m/Y') }} 
		</article>
		<li class="nav-item">
		    <a class="nav-link" href="{{ path('idArticle', {id: article.id}) }}">Voir l'article</a>
		    <a class="nav-link" href="{{ path('updateArticle', {id: article.id}) }}">Modifier l'article</a>
		    <a class="nav-link" href="{{ path('deleteArticle', {id: article.id}) }}">Supprimer l'article</a>
		</li>
		{% endfor %}
{% endblock %}
