{% extends 'base.html.twig' %}

{% block title %}Liste des articles récents{% endblock %}

{% block body %}

    {% for article in articles %}
        <article>
            <h3>{{ article.title }}</h3>
            publié par {{ article.username }} le {{ article.date_publi }}
            {# article est un tableau article['date_publi'] contient la date au format datetime #}
            <a href="{{ path('idArticle', {id: article.id}) }}">Voir</a>
        </article>
    {% endfor %}

    {% for article2 in articles2 %}
        <article>
            <h3>{{ article2.title }}</h3>
            publié par {{ article2.user.username }} le {{ article2.datepubli|date('d/m/Y') }}
            <a href="{{ path('idArticle', {id: article2.id}) }}">Voir</a>
        </article>
    {% endfor %}

{% endblock %}
